<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React Express SSR Boilerplate</title>
    <meta name="description" content="React Express SSR Boilerplate">
  </head>
  <body>
    <h1>Hello from <%= name %></h1>
  </body>
</html>